<p-toast></p-toast>
<div class="admin-pages">
  <p-card [subheader]="editmode ? 'Editar Produto' : 'Adicionar Produto'">
    <div class="grid p-mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary p-mr-2"
              [label]="editmode ? 'Editar' : 'Adicionar'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancelar"
              (click)="this.location.back()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="field col-6">
              <label for="nome">Nome</label>
              <input
                formControlName="nome"
                id="nome"
                type="text"
                class="inputfield w-full"
              />
              <small
                *ngIf="isSubmitted && produtoForm.nome === ''"
                class="p-error"
                >Você precisa adicionar um nome</small
              >
            </div>
            <div class="field col-6">
              <label for="active">Ativo</label><br />
              <p-inputSwitch formControlName="active"> </p-inputSwitch>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
              <label for="valor">Valor</label>
              <p-inputNumber
                formControlName="valor"
                mode="decimal"
                [minFractionDigits]="2"
                inputId="valor"
              >
              </p-inputNumber>
              <small
                *ngIf="isSubmitted && produtoForm.valor === ''"
                class="p-error"
                >Você precisa adicionar um valor</small
              >
            </div>
            <div class="field col-12 md:col-3">
              <label for="desconto">Desconto</label>
              <p-inputNumber
                formControlName="desconto"
                mode="decimal"
                inputId="desconto"
                [minFractionDigits]="2"
              >
              </p-inputNumber>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="field col-4">
              <label for="quantidade">Quantidade</label>
              <p-inputNumber inputId="quantidade" formControlName="quantidade"> </p-inputNumber>
            </div>
            <div class="field col-8">
              <label for="planta">Tipo</label>
              <p-dropdown
                [options]="plantas"
                formControlName="planta"
                optionLabel="nome"
                [filter]="true"
                [showClear]="true"
                [placeholder]="'Selecione uma planta'"
              >
              </p-dropdown>
            </div>

            <div class="field col-12">
              <label for="descricao">Descrição</label>
              <textarea
                pInputTextarea
                formControlName="descricao"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small
                *ngIf="isSubmitted && produtoForm.descricao === ''"
                class="p-error"
                >Você precisa adicionar uma descrição</small
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
