<div class="banner">
  <div class="grid">
    <div class="col-5 p-offset-1 banner-text">
      <h1>Sobre a Vila Verdes</h1>
      <h2>Para apaixonados por planas ornamenais!</h2>
    </div>
    <div class="col-6 banner-image animate__animated animate__slideInLeft">
      <img src="assets/images/banner3-image.svg" alt="" />
    </div>
  </div>
</div>

<div class="middle-area">
  <h1 class="middle-text">Página em Construção</h1>
  <h1 class="sobre-titulo">Ut egestas rhoncus blandit</h1>
  <div class="sobre-conteudo">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis
      mi quis sollicitudin semper. Mauris magna ipsum, laoreet nec mauris eu,
      placerat luctus diam. Vivamus cursus fringilla felis, finibus egestas
      lacus pulvinar quis. Curabitur vulputate tellus odio, sed tempor leo
      commodo eget:
    </p>
    <p>
      Ut egestas rhoncus blandit. Duis et mi sit amet velit semper pulvinar non
      eget eros. Integer tellus lorem, feugiat a eros ac, rutrum eleifend orci.
    </p>
    <p>
      Morbi non finibus ligula. Cras lobortis efficitur est, ac ultricies dolor
      vehicula in. Curabitur laoreet, nunc non maximus molestie, orci elit
      vulputate magna, non suscipit justo sapien nec dui. Suspendisse vel velit
      sem. Donec blandit sem et ipsum condimentum elementum.
    </p>
  </div>
</div>
