<header>
  <div class="grid">
    <div class="col-3 div-logo">
      <div class="logo" routerLink="/">
        Vila Verdes
        <!-- <img src="assets/images/logo.png" alt="logo" /> -->
      </div>
    </div>

    <div class="col-6 p-offset-1 navigation">
      <app-nav></app-nav>
    </div>
    <div class="col-2 tools">
      <!-- <a>Carrinho</a> -->
      <!-- <a>Perfil</a> -->
      <a (click)="goToAdmin()">Painel Admin</a>
      <!-- <a>Login</a> -->
    </div>
  </div>
</header>
