<div class="banner">
  <div class="grid">
    <div class="col-5 p-offset-1 banner-text">
      <h2>Catálogo de plantas ornamentais</h2>
    </div>
    <div class="col-6 banner-image animate__animated animate__slideInLeft">
      <img src="assets/images/banner2-image.svg" alt="" />
    </div>
  </div>
</div>

<div class="middle-area">
  <h1 class="middle-text">Página em Construção</h1>
</div>
<products-produtos-lista></products-produtos-lista>
