header {
  margin-bottom: 25px;
  .div-logo {
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
  }
  .logo {
    font-weight: bold;
    font-size: 30px;
    img {
      width: 160px;
    }
  }

  .search {
    padding-top: 25px;
  }

  .navigation {
    padding-top: 100px;
  }

  .tools {
    padding-top: 38px;
    font-size: 12px;
    font-weight: 700;
    a {
      margin-right: 12%;
      cursor: pointer;
    }
  }
}
