.nav {
  li {
    list-style: none;
    display: inline-block;
    margin-right: 22%;

    a {
      color: var(--surface-700);
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
