.admin {
  &-wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &-main {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
  &-sidebar {
    position: fixed;
    width: 200px;
    background-color: #eef3f4;
    height: 100%;
    top: 0;

    .logo {
      padding: 12px;
      width: 100%;
      font-weight: 600;
    }
    .links {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: block;
          list-style: none;
          width: 100%;
          a {
            color: #000000;
            padding: 10px 15px;
            display: block;
            width: 100%;

            &:hover {
              background-color: var(--green-200);
            }
          }
        }
      }
    }
  }

  &-page {
    padding: 15px;
  }
}
