<p-toast></p-toast>
<div class="admin-pages">
  <p-card subheader="Usuários">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-secondary"
              label="Adicionar"
              routerLink="form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="usuarios"
          responsiveLayout="scroll"
          styleClass="p-datatable-grodlines"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                ID<p-sortIcon field="id"></p-sortIcon>
              </th>
              <th pSortableColumn="nome">
                Nome<p-sortIcon field="nome"></p-sortIcon>
              </th>
              <th pSortableColumn="sobrenome">
                Sobrenome<p-sortIcon field="sobrenome"></p-sortIcon>
              </th>
              <th pSortableColumn="tipo">
                Tipo<p-sortIcon field="tipo"></p-sortIcon>
              </th>
              <th pSortableColumn="email">
                Email<p-sortIcon field="email"></p-sortIcon>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario>
            <tr>
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.sobrenome }}</td>
              <td>{{ usuario.tipo }}</td>
              <td>{{ usuario.email }}</td>
              <td>
                <button
                  (click)="deleteUsuario(usuario.id)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-times"
                  class="p-button-rounded p-button-danger"
                ></button>
              </td>
              <td>
                <button
                  (click)="updateUsuario(usuario.id)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-secondary"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
