<div class="produto-item" *ngIf="produto">
  <div class="produto-item-wrapper">
    <img [src]="produto.Plantum?.imagens[0]" class="image" alt="" />
    <h4 class="name">{{ produto.nome }}</h4>
    <p class="valor">R${{ produto.valor }}</p>
    <button
      pButton
      pRipple
      type="button"
      label="Adicionar ao carrinho"
      class="p-button-outlined p-button-secondary adicionar-carrinho-btn"
    ></button>
  </div>
</div>
