<div class="login-register">
  <div class="login-register-panel">
    <div class="grid">
      <div class="col-6">
        <img src="assets/images/login-img.svg" />
      </div>
      <div class="col-6 p-p-5">
        <h3>Bem vindo ao Vila Verdes!</h3>
        <form [formGroup]="loginFormGroup">
          <div class="grid p-mt-6">
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-user"></i
                ></span>
                <input
                  type="text"
                  formControlName="email"
                  pInputText
                  placeholder="Email"
                />
              </div>
              <small
                *ngIf="loginForm.email === '' && isSubmitted"
                class="p-error"
                ><span *ngIf="loginForm.email === ''"
                  >Você precisa preencher email</span
                >
                <span *ngIf="loginForm.email.errors.email"
                  >email inválido</span
                ></small
              >
            </div>
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-lock"></i
                ></span>
                <input
                  type="password"
                  formControlName="senha"
                  pInputText
                  placeholder="Senha"
                />
              </div>
              <small
                *ngIf="loginForm.senha === '' && isSubmitted"
                class="p-error"
                >Você precisa preencher a senha
              </small>
            </div>
            <div class="p-col-12">
              <p-button
                label="Entrar"
                styleClass="full-btn"
                (onClick)="onSubmit()"
              ></p-button>
            </div>
            <div class="col-12" *ngIf="isSubmitted && authError">
              <small class="p-error">{{ authMessage }}</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
