.banner {
  height: 40vh;
  width: 100%;
  background-color: #eef3f4;
  border-radius: 15px;

  &-text {
    color: var(--surface-800);
    margin-top: 50px;

    h1 {
      margin: 0;
      font-size: 3em;
      font-weight: 600;
    }

    h2 {
      font-size: 1.8em;
      font-weight: 300;
    }
  }

  &-image {
    text-align: center;

    img {
      width: 116%;
    }
  }
}
