<p-toast></p-toast>
<div class="admin-pages">
  <p-card [subheader]="editmode ? 'Editar Usuário' : 'Adicionar Usuário'">
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="field col-6">
              <label for="nome">Nome</label>
              <input
                formControlName="nome"
                id="nome"
                type="text"
                class="inputfield w-full"
              />
              <small
                *ngIf="isSubmitted && usuarioForm.nome === ''"
                class="p-error"
                >Você precisa adicionar um nome</small
              >
            </div>
            <div class="field col-6">
              <label for="nome">Sobrenome</label>
              <input
                formControlName="sobrenome"
                id="sobrenome"
                type="text"
                class="inputfield w-full"
              />
            </div>
            <div class="field col-6">
              <label for="active">Ativo</label><br />
              <p-inputSwitch formControlName="active"> </p-inputSwitch>
            </div>
            <div class="field col-6">
              <label for="tipo">Tipo</label>
              <p-dropdown
                [options]="userTypes"
                formControlName="tipo"
                optionLabel="n"
                [filter]="true"
                [showClear]="true"
                [placeholder]="'Selecione um tipo'"
              >
              </p-dropdown>
            </div>
            <div class="field col-6">
              <label for="email">Email</label>
              <input
                formControlName="email"
                id="email"
                type="text"
                class="inputfield w-full"
              />
              <small
                *ngIf="isSubmitted && usuarioForm.email === ''"
                class="p-error"
                >Você precisa adicionar um email</small
              >
            </div>
            <div class="field col-6">
              <label for="senha">Senha</label>
              <input
                formControlName="senha"
                id="senha"
                type="password"
                class="inputfield w-full"
              />
              <small
                *ngIf="isSubmitted && usuarioForm.senha === ''"
                class="p-error"
                >Você precisa adicionar uma senha</small
              >
            </div>
            <div class="field col-6">
              <label for="cpf">CPF</label>
              <input
                formControlName="cpf"
                id="cpf"
                type="text"
                class="inputfield w-full"
              />
            </div>
            <div class="field col-6">
              <label for="celular">Celular</label>
              <p-inputMask
                formControlName="celular"
                id="celular"
                mask="(99) 99999-9999"
              ></p-inputMask>
            </div>
            <div class="field col-12">
              <label for="endereco">Endereço</label>
              <textarea
                pInputTextarea
                formControlName="endereco"
                [rows]="7"
                [cols]="30"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="grid p-mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary p-mr-2"
              [label]="editmode ? 'Editar' : 'Adicionar'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancelar"
              (click)="this.location.back()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
  </p-card>
</div>
