<p-toast></p-toast>
<div class="admin-pages">
  <p-card subheader="Produtos">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-secondary"
              label="Adicionar"
              routerLink="form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="produtos"
          responsiveLayout="scroll"
          styleClass="p-datatable-grodlines"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                ID<p-sortIcon field="id"></p-sortIcon>
              </th>
              <th pSortableColumn="nome">
                Nome<p-sortIcon field="nome"></p-sortIcon>
              </th>
              <th pSortableColumn="tipo">
                Tipo<p-sortIcon field="tipo"></p-sortIcon>
              </th>
              <th pSortableColumn="valor">
                Valor<p-sortIcon field="valor"></p-sortIcon>
              </th>
              <th pSortableColumn="desconto">
                Desconto<p-sortIcon field="desconto"></p-sortIcon>
              </th>
              <th pSortableColumn="quantidade">
                Quantidade<p-sortIcon field="quantidade"></p-sortIcon>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-produto>
            <tr>
              <td>{{ produto.id }}</td>
              <td>{{ produto.nome }}</td>
              <td>{{ produto.Plantum?.nome }}</td>
              <td>{{ produto.valor }}</td>
              <td>{{ produto.desconto }}</td>
              <td>{{ produto.quantidade }}</td>
              <td>
                <button
                  (click)="deleteProduto(produto.id)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-times"
                  class="p-button-rounded p-button-danger"
                ></button>
              </td>
              <td>
                <button
                  (click)="updateProduto(produto.id)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-secondary"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  Ð
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
