.produto-item {
  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    margin-top: 85px;
  }

  .image {
    width: auto;
    height: 200px;
    padding: 10px;
  }

  .name {
    margin: 10px 0;
  }

  .valor {
    margin: 0;
  }

  .adicionar-carrinho-btn {
    border-radius: 2px;
  }
}
