<div class="admin-sidebar">
  <div class="logo">
    <!-- TODO -->
    Vila Verdes
    <!-- <img src="/assets/images/logo.png" /> -->
    <p>
      <!-- <img src="/assets/images/logo.png" /> -->
      Painel de Administração
    </p>
  </div>
  <div class="links">
    <ul>
      <li><a routerLink="/dashboard">Relatórios</a></li>
      <li><a routerLink="/usuarios">Usuários</a></li>
      <li><a routerLink="/produtos">Produtos</a></li>
      <li><a routerLink="/plantas">Plantas</a></li>
      <li><a routerLink="/grupos-botanicos">Grupos Botânicos</a></li>
      <li><a routerLink="/pedidos">Pedidos</a></li>
      <li><a routerLink="/acessorios">Acessórios de Jardinagem</a></li>
      <li><a routerLink="/tipos-acessorios">Tipos de Acessórios</a></li>
      <li><a routerLink="/fila">Fila de Espera</a></li>
      <li><a (click)="goToSite()">Voltar para o site</a></li>
      <li (click)="logoutUser()"><a>Logout</a></li>
    </ul>
  </div>
</div>
