<div class="middle-area">
  <h1 class="middle-text">Página em Construção</h1>
</div>

<div class="contato-form">
  <h1>Contato</h1>
  <form>
    <input type="text" id="nome" name="nome" placeholder="Nome" />
    <input type="text" id="email" name="email" placeholder="Email" />

    <textarea
      id="mensagem"
      name="mensagem"
      placeholder="Mensagem"
      style="height: 200px"
    ></textarea>

    <input type="submit" value="Enviar mensagem" disabled />
  </form>
</div>
