<p-toast></p-toast>
<div class="admin-pages">
  <p-card [subheader]="editmode ? 'Editar Planta' : 'Adicionar Planta'">
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="field col-6">
              <label for="nome">Nome</label>
              <input
                formControlName="nome"
                id="nome"
                type="text"
                class="inputfield w-full"
              />
              <small
                *ngIf="isSubmitted && plantaForm.nome === ''"
                class="p-error"
                >Você precisa adicionar um nome</small
              >
            </div>
            <div class="field col-12">
              <label for="especificacoes">Especificações</label>
              <textarea
                pInputTextarea
                formControlName="especificacoes"
                [rows]="7"
                [cols]="30"
              ></textarea>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="field col-8">
              <label for="grupoBotanico">Grupo Botânico</label>
              <p-dropdown
                [options]="gruposBotanicos"
                formControlName="grupoBotanico"
                optionLabel="nome"
                [filter]="true"
                [showClear]="true"
                [placeholder]="'Selecione um grupo botânico'"
              >
              </p-dropdown>
            </div>

            <div class="field col-12">
              <label for="descricao">Descrição</label>
              <textarea
                pInputTextarea
                formControlName="descricao"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small
                *ngIf="isSubmitted && plantaForm.descricao === ''"
                class="p-error"
                >Você precisa adicionar uma descrição</small
              >
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="grid p-mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary p-mr-2"
              [label]="editmode ? 'Editar' : 'Adicionar'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancelar"
              (click)="this.location.back()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
  </p-card>
</div>
