<div class="lista-produtos p-mt-5">
  <h3 class="p-mb-1">Mais Populares</h3>
  <div class="grid">
    <div class="col-3" *ngFor="let produto of produtos">
      <products-produto-item [produto]="produto"></products-produto-item>
    </div>
  </div>
</div>
