<p-toast></p-toast>
<div class="admin-pages">
  <p-card
    [subheader]="
      editmode ? 'Editar Grupo Botânico' : 'Adicionar Grupo Botânico'
    "
  >
    <div class="grid p-mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary p-mr-2"
              [label]="editmode ? 'Editar' : 'Adicionar'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancelar"
              (click)="this.location.back()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="field grid">
            <label for="nome" class="col-12 mb-2 md:col-2 md:mb-0">Nome</label>
            <div class="col-12 md:col-10">
              <input
                formControlName="nome"
                id="nome"
                type="text"
                class="inputfield w-full"
              />
              <small
                *ngIf="isSubmitted && grupoBotanicoForm.nome === ''"
                class="p-error"
                >Você precisa adicionar um nome</small
              >
            </div>
          </div>
          <div class="field grid">
            <label for="descricao" class="col-12 mb-2 md:col-2 md:mb-0"
              >Descrição</label
            >
            <div class="col-12 md:col-10">
              <input
                formControlName="descricao"
                id="descricao"
                type="text"
                class="inputfield w-full"
              />
              <small
                *ngIf="isSubmitted && grupoBotanicoForm.descricao === ''"
                class="p-error"
                >Você precisa adicionar uma descrição</small
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
