<div class="banner">
  <div class="grid">
    <div class="col-5 p-offset-1 banner-text">
      <h1>Plantas Ornamentais,</h1>
      <h2>Medicinais e PANC's</h2>
      <button
        pButton
        pRipple
        routerLink="/products"
        type="button"
        label="Ver Produtos"
        class="p-button-outlined p-button-secondary"
      ></button>
    </div>
    <div class="col-6 banner-image animate__animated animate__slideInLeft">
      <img src="assets/images/banner-image.svg" alt="" />
    </div>
  </div>
</div>
