//Base
@import "~normalize.css/normalize.css";
@import "./base/colors.scss";
@import "./base/fonts.scss";
@import "./base/mixins.scss";

//Libraries
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";

@import "./base/configuration.scss";

//Shared
@import "./apps/admin/shell.scss";

//Libs
@import "./libs/users/users.scss";

.middle-text {
    text-align: center;
    border-bottom: 1.5px solid #778a35;
    padding: 1vh 0px 3vh 0;
  }