//Base
@import "~normalize.css/normalize.css";
@import "./base/colors.scss";
@import "./base/fonts.scss";
@import "./base/mixins.scss";

//Libraries
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";

@import "./base/configuration.scss";

//Shared
@import "./apps/loja/shared/header.scss";
@import "./apps/loja/shared/footer.scss";
@import "./apps/loja/shared/nav.scss";

//Pages
@import "./apps/loja/pages/home-page.scss";
@import "./apps/loja/pages/products-list-page.scss";

//Libs
@import "./libs/produtos/produtos.scss";
@import "./libs/users/users.scss";
@import "./libs/ui/ui.scss";

body {
  background-color: #eef3f4;
}

.container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
  background-color: #eef3f4;
  height: 100vh;
}

.middle-area {
  position: absolute;
  width: 1165px;
  border-top: 1.5px solid #778a35;
  background-color: #eef3f4;
}

.middle-text {
  text-align: center;
  border-bottom: 1.5px solid #778a35;
  padding: 1vh 0px 3vh 0;
}

